*{
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: monospace;
}
/* HOME */
.contents{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgba(0, 0, 0, 0.10);
}
.contents h1{
    margin: 0.5%;
    margin-right: 33%;
    font-size: 1.8rem;
    font-family: arial;
    font-weight: 900;
}
.contents span{
    color: rgb(8, 8, 8);
}
.contents span1{
    color: rgb(0, 109, 24);
}
.contents ul{
    display: flex;
    list-style: none;
    margin: 15px 0px;
    position: sticky;

}

.contents ul li{
    list-style: none;
    display: inline-block;
}

.contents ul li a{
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding: 5px 20px;
    transition: all .3s ease;
}

.contents ul li a:hover{
    color: yellowgreen;
}

.text{
    text-align: center;
    margin-left: 25%;
    font-weight: bold;
    font-style: italic;
}
h1.text1{
    font-family: arial;
    font-size: 6rem;
    position: absolute;
    margin: 12%;
    margin-left: 33%;
    color: rgb(85, 84, 84);
    border-right: 3px solid;
    width: 39%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(40), cursor .1s step-end infinite alternate;        
}
@keyframes cursor {
    50% { border-color: transparent}
}
@keyframes typing{
    from { width: 0 }
}

.text h1{
    animation: fadeIn 3s;
    font-size: 35px;
    color:white;
    position: absolute;
    bottom: 35%;
}
@keyframes fadeIn{
    from { opacity: 0 }
    to { opacity: 1 }
}
.text span{
    color: rgba(55, 235, 0, 0.747);
}
.text span1{
color: rgba(55, 235, 0, 0.747);
}
/* ABOUT US*/
.background1{
    width: 100%;
    height: 135vh;
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: monospace;
}
.contents1{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgba(0, 0, 0, 0.10);
}
.contents1 h1{
    margin: 0.5%;
    margin-right: 33%;
    font-size: 1.8rem;
    font-family: arial;
    font-weight: 900;
}
.contents1 span{
    color: rgb(8, 8, 8);
}
.contents1 span1{
    color: rgb(0, 109, 24);
}
.contents1 ul{
    display: flex;
    list-style: none;
    margin: 15px 0px;
    position: sticky;

}

.contents1 ul li{
    list-style: none;
    display: inline-block;
}

.contents1 ul li a{
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding: 5px 20px;
    transition: all .3s ease;
}

.contents1 ul li a:hover{
    color: yellowgreen;
}

.text{
    text-align: center;
    margin-left: 25%;
    font-weight: bold;
    font-style: italic;
}
.box{
    position: relative;
    width: 100%;
    max-width: 650px;
    min-height: 800px;
    background: #d4d4d4;
    margin: 1%;
}
.box .header{
    position: relative;
    background: rgb(0, 133, 18);
    padding: 65px;
}
.profile .name{
    position: absolute;
    font-size: 2.9rem;
    font-family: monospace;
    color: white;
    left: 40%;
    top: 20%;
   
}
.profile h4{
    position: absolute;
    font-size: 1.5rem;
    font-weight: 10;
    left: 40%;
    top: 50%;
    color: white;
    
}
.profile .picture{
    position: relative;
    width: 170px;
    height: 180px;
    margin: -25%;
    margin-left: -5%;
}
.profile .about{
    position: absolute;
    font-size: 1.4rem;
    left: 40%;
    top: 110%;
    color: rgb(0, 133, 18);
}
.profile .linear{
    position: absolute;
    height: 2px;
    width: 100px;
    color: rgb(0, 133, 18);
    background-color: rgb(0, 133, 18);
    border-style: none;
    left: 40%;
    top: 131%;
}
.profile .aboutme{
    position: absolute;
    top: 135%;
    left: 40%;
    font-size: 0.9rem;
    font-family: arial;
}
.profile .contact{
    position: absolute;
    font-size: 1.4rem;
    left: 5%;
    top: 150%;
    color: rgb(0, 133, 18);
}
.profile .linear1{
    position: absolute;
    height: 2px;
    width: 124px;
    color: rgb(0, 133, 18);
    background-color: rgb(0, 133, 18);
    border-style: none;
    left: 5%;
    top: 171%;
}
/* Activities */
.card2{
	height: 95px;
	width: 300px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 1px rgb(182, 181, 181);
	border-radius: 40px;
	margin: 100px 200px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
@keyframes slideInLeft{
    from {
        transform: translateX(-650px);
    }

    to {
        transform: translateX(0);
    }
}

.card2 {
    animation-name: slideInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.card2 ul{
    list-style: none;
}
.card2 ul li{
    font-size: 2rem;
    font-weight: 790;
    font-family: arial;
    margin: 5%;
}
.card2 ul li a{
    text-decoration: none;
    color: rgb(0, 173, 0);
}
.card2 ul li:hover{
	transform: scale(1.2);
	transition: .6s;
}
.card2 h1{
    color: white;
    font-size: 1.3rem;
    margin: -5%;
}
/* Activity 2*/
.card4{
	height: 95px;
	width: 300px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 1px rgb(182, 181, 181);
	border-radius: 40px;
	margin: -235px 820px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
@keyframes slideInRight{
    from {
        transform: translateX(650px);
    }

    to {
        transform: translateX(0);
    }
}

.card4{   
        animation-name: slideInRight;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
}
.card4 ul{
    list-style: none;
}
.card4 ul li{
    font-size: 2rem;
    font-weight: 790;
    font-family: arial;
    margin: 5%;
}
.card4 ul li a{
    text-decoration: none;
    color: rgb(0, 173, 0);
}
.card4 ul li:hover{
	transform: scale(1.2);
	transition: .6s;
}
.card4 h1{
    color: white;
    font-size: 1.3rem;
    margin: -5%;
}
/* Activity 3 */
.card5{
	height: 95px;
	width: 300px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 1px rgb(182, 181, 181);
	border-radius: 40px;
	margin: 350px 500px;
	position: relative;
	overflow: hidden;
	text-align: center;
    animation: slidedown 0.5s ease;
}
@keyframes slidedown{
    0%{ transform: translateY(550px); }
    100% { transform: translateY(0);}
}
.card5 ul{
    list-style: none;
}
.card5 ul li{
    font-size: 2rem;
    font-weight: 790;
    font-family: arial;
    margin: 5%;
}
.card5 ul li a{
    text-decoration: none;
    color: rgb(0, 173, 0);
}
.card5 ul li:hover{
	transform: scale(1.2);
	transition: .6s;
}
.card5 h1{
    color: white;
    font-size: 1.3rem;
    margin: -5%;
}
/* Tribute */
.background2{
    width: 100%;
    height: 135vh;
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: monospace;
}
.contents2{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: rgba(0, 0, 0, 0.10);
}
.contents2 h1{
    margin: 0.5%;
    margin-right: 33%;
    font-size: 1.8rem;
    font-family: arial;
    font-weight: 900;
}
.contents2 span{
    color: rgb(8, 8, 8);
}
.contents2 span1{
    color: rgb(0, 109, 24);
}
.contents2 ul{
    display: flex;
    list-style: none;
    margin: 15px 0px;
    position: sticky;

}

.contents2 ul li{
    list-style: none;
    display: inline-block;
}

.contents2 ul li a{
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding: 5px 20px;
    transition: all .3s ease;
}

.contents2 ul li a:hover{
    color: yellowgreen;
}

.text{
    text-align: center;
    margin-left: 25%;
    font-weight: bold;
    font-style: italic;
}
.card3{
	height: 730px;
	width: 900px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 13px 2px rgb(0, 133, 7);
	border-radius: 40px;
	margin: 35px 200px;
	position: relative;
	overflow: hidden;
	text-align: center;
    animation: slidedown 1s ease;
}
@keyframes slidedown{
    0%{ transform: translateY(550px); }
    100% { transform: translateY(0);}
}
.card3 img{
    height: 300px;
    width: 370px;
    border-radius: 5%;
    margin: 1%;
}
.card3 h1{
    color: White;
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: 900;
}
.card3 u{
    color: rgb(207, 207, 207);
}
.card3 p{
    color: rgb(196, 196, 196);
    font-size: 1.3rem;
    font-family: monospace;
    margin: 2%;
}
.brain img{
    position: relative;
    width: 240px;
    height: 200px;
    margin: 50%;
    margin-top: -80%;
    margin-left: 74%;
}
/* CONTACT US */
@keyframes slideInLeft{
    from {
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
    }
}

.card {
    animation-name: slideInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes slideInRight{
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(0);
    }
}
.card1 {
    animation-name: slideInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.social{
	display: flex;
    
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  green;
	border-radius: 50%;
	margin: -10px 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.2);
	transition: .4s;
}

.card{
	height: 500px;
	width: 335px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	margin: 35px 200px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
img{
    height: 150px;
    width: 150px;
    margin: 0px;
    border-radius: 50%;
}
#media h4{
    color: white;
    font-family: monospace;
    font-size: 25px;
    margin: 20px 30px;
    
}
#media h3{
    color: white;
    font-family: monospace;
    font-size: 20px;
}
#media h2{
    color: #00ff6ad3;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 45%;
    margin-top: -11%;
}
#media p{
    color: white;
    margin-left: -5%;
    font-family: monospace;
}
#media i{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border-radius: 50%;
    margin: 5px 20px;
    font-size: 15px;
    margin-right: 100%;
}
#media i.fa-solid fa-envelope{
    margin: -10%;
}
h2.phone{
    margin-left: -5%;
}
h2.email{
    margin-left: -6%;
}
p.email{
    margin-right: 14%;
}

h5{
	color: white;
    font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 15px;
}

/* Keinji's Contact */
.social1{
	display: flex;
    
}
.social1 a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  green;
	border-radius: 50%;
	margin: -10px 145px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social1 a:hover{
	transform: scale(1.2);
	transition: .4s;
}

.card1{
	height: 500px;
	width: 335px;
	padding: 20px 35px;
    background-color: rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	margin: -568px 780px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
img{
    height: 150px;
    width: 150px;
    margin: 0px;
    border-radius: 50%;
}
#media1 h4{
    color: white;
    font-family: monospace;
    font-size: 25px;
    margin: 20px 30px;
    
}
#media1 h3{
    color: white;
    font-family: monospace;
    font-size: 20px;
}
#media1 h2{
    color: #00ff6ad3;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 45%;
    margin-top: -11%;
}
#media1 p{
    color: white;
    margin-left: -5%;
    font-family: monospace;
}
p.address{
    margin-right: 15%;
}
#media1 i{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    border-radius: 50%;
    margin: 5px 20px;
    font-size: 15px;
    margin-right: 100%;
}
#media1 i.fa-solid fa-envelope{
    margin: -10%;
}
h2.phone{
    margin-left: -5%;
}
p.phone{
    margin-right: 35%;
}
h2.email{
    margin-left: -6%;
}
p.email{
    margin-right: 14%;
}
p.email1{
    margin-right: 11%;
}

h5{
	color: white;
    font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 15px;
}
